.reg-conteiner {
    font-family: 'Lato';
    font-style: normal;
    max-width: 1245px;
    max-height: 615px;
    margin: 180px 340px;
    display: flex;
    align-items: stretch;
}
.reg-input{
    border: 1px solid #D7DADD;
    border-radius: 4px;
    min-width: 150px;
    min-height: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #9A9CA5 ;
}
.mein-reg-text h6{
    max-height: 25px;
    max-width: 150px;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 5px;
    letter-spacing: 1px;
    color: #1E212C;
    text-transform: uppercase;
    flex: none;
    order: 0;
    flex-grow: 0;   
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #1E212C ;

}
.mein-reg-text h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 60px; 
    color: #1E212C;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    fill: #1E212C solid;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #1E212C ;
}

.reg-photo {
    position: relative;
    max-width:  435px;
    max-height: 480px;
    text-align: left;
    display: inline-block;
    margin-right: 100px;
}
 .mein-reg-text{

    
} 
.main-reg-container{
    margin-top:45px ;
    margin-bottom: 45px;
    display: inline-block;
}

.reg-form {
}
.name-reg, .surrname-reg, .email-reg, .phone-reg {    
    padding-right: 25px;
    padding-bottom: 25px;
    position: relative;
    text-align: left;
    display: inline-block;

}
.name-text {
    display: inline-block;
}
.reg-input {
    display: inline-block;
    max-width: 340px;
    max-height: 50px;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 25px;
}
.reg-big-input{
    display: block;
    max-width: 705px;
    max-height: 130px;
    min-width: 450px;
    min-height: 100px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #9A9CA5;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #9A9CA5 ;
    border: 1px solid #D7DADD;


}
.collonse-reg-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #424551 ;

}
#checkbox-custom {
    opacity: 0;
}
#checkbox-custom ~ label::before{
content: '\2713';
text-align: center;
color: white;
line-height: 1px;
width: 10px;
height: 8px;
margin: 3px 4px;
border: 1px solid #FF3F3A;
border-radius: 3px;
display: inline-block;
position: absolute;
}
#checkbox-custom:checked ~ label::before{
    background-color: #FF3F3A;
}
.heckbox-reg label{
    max-width: 240px;
}
.check-box-custom-text {
    display: inline-block;
    padding-left: 15px;
    max-height: 50px;
    max-width: 280px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #424551 ;
    
}
.form-input-button{
    background-color: #F75E05;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px 40px;
    gap: 10px;
    max-width: 340px;
    margin-top: 15px; 
    height: 50px;
    position: absolute;
    display: inline-block;
    text-align: right ;
    color: white

}
.form-input-label {
}